<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FieldBoss_alarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <FieldBoss_alarm.Properties.Settings>
            <setting name="골론알림" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="골모답알림" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="아칸알림" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="스페르첸드알림" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="프라바방어전알림" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="파멸의기원알림" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="알림10분전" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="알림5분전" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="알림3분전" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="알림1분전" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="알림일시정지" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="자동실행" serializeAs="String">
                <value>False</value>
            </setting>
        </FieldBoss_alarm.Properties.Settings>
    </userSettings>
</configuration>
